@media (prefers-color-scheme: light) {
  :root {
    --color-bg: snow;
    --color-text: black;
    --color-link: cornflowerblue;
    --color-link-hovered: hotpink;
    --color-link-active: hotpink;
  }
}
  
  @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: black;
    --color-text: slategray;
    --color-link: cornflowerblue;
    --color-link-hovered: hotpink;
    --color-link-active: hotpink;
  }
}

html, 
body {
  height: 100%;
  width: 75%;
  min-width: 320px;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Montserrat", "Noto Sans Symbols 2", "Noto Sans Symbols", "Noto Sans JP", "Segoe UI Symbol", Helvetica,
  Ubuntu, Roboto, Noto, Arial, sans-serif;
  font-size: calc(16px + 1.5 * 1vw);
}

body {
  display: block;
  margin: calc(16px + 2.5 * 1vw);
  margin-top: calc(64px + 2.5 * 1vw);
  background-color: var(--color-bg);
}

p {
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--color-text);
}

.link {
  color: var(--color-link);
  transition: color 0.1s;
  cursor: pointer;
}

.link:hover {
  color: var(--color-link-hovered);
  cursor: pointer;
}

.link:active {
  color: var(--color-link-active);
  cursor: pointer;
}

.ghost {
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  background: linear-gradient(
    270deg,
    hotpink,
    cornflowerblue,
    aquamarine,
    cornflowerblue,
    hotpink
  );
    background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 8s ease infinite;
}

/* gradient animation */
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
